@import "partials/config";
@import "modules/header-menu";
@import "modules/slider";
@import "modules/menu-btn";
@import "modules/top-menu__button";
@import "modules/icon-bar" ;
@import "modules/footer";
@import "modules/left-menu";
body {
    background: #F5F5F5;
    font-family: 'PT Serif', Arial, serif;

}

html {
    font-size: 16px;
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
        font-size: 10px
    }
}


